body {
  background-color: #A6A576;
  font-family: 'Alice';
}
td {
  margin: auto;
  background-color: #E3E2BF;
  border: 10px solid #BDBB8F;
  padding: 0px;
}
table {
  width: 900px;
  margin: auto;
  padding: 0px;
  border-collapse: collapse;
}
h1 {
  font-size:50px;
  text-align: center;
}
a {
  text-decoration: none;
  color: black;
}
nav ul {
  list-style-type:none;
  margin:0;
  padding:0;
  overflow:hidden;
}
nav li {
  float: left;
  width: 20%;
  background-color: #BDBB8F;
}
nav li a {
  width: 100%;
  display:block;
  color:black;
  text-align:center;
  padding:14px 0px;
  text-decoration:none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
nav li a:hover {
  background-color:#A6A576;
  color:white;}
img {
  width:100%;
  display: block;
}
p {
  padding: 20px;
}
h2 {
  text-align: center;
}
h3 {
  text-align: center;
}
.head {
  width: 900px;
  padding: 0px;
  height: 60px;
}
.article {
  width: 300px;
  float: left;
  padding: 0px;
  height: 529px;
}
.title {
  width: 300px;
  float: left;
  padding: 0px;
  height: 60px;
}
.image {
  width: 540px;
  float: right;
  height: 90%;
  padding: 10px;
  padding-bottom: 0px;
}